# Android / Gradle
*.iml
.gradle/
local.properties
.idea/
.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/
# Keystore
*.jks
*.keystore
# Built files
/app/build/
/app/release/
/app/debug/
# Android Studio
*.hprof
